<template>
    <section id="about" class="columns p-0">
        <div class="logo column">
            <img src="~assets/img/A6.png" alt="">
        </div>
        <div class="info column pt-5 mt-5">
            <div class="columns">
                <div class="logo-a5 column is-3">
                    <img src="~assets/img/A5.png" alt="">
                </div>
                <div class="title column">
                    <h3>Quem <strong>somos?</strong></h3>
                </div>
            </div>
            <p class="column">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tempus enim. Donec nunc urna, malesuada vel porta eget, mollis eget augue. Maecenas quis molestie neque. Integer ac rhoncus orci, ut ullamcorper nunc. Aliquam dolor ex, auctor ut vulputate eget, ultrices sed felis. Maecenas sagittis dolor vitae porttitor bibendum. Proin et dui leo. Aenean nec arcu est. Aliquam non pharetra tortor. In bibendum sollicitudin neque, id dictum diam sollicitudin ac. Fusce commodo tellus justo, vel blandit metus rutrum sit amet. Sed pretium ultricies diam. Vestibulum tempus nunc sem, nec elementum magna tempus eget. Nam pellentesque dolor ac ante tincidunt porttitor.
            </p>
        </div>
    </section>
</template>

<style>
    #about{
        background-image: url('~assets/img/about.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 625px;
    }

    #about .logo{
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #about .logo img{
        width: 500px;
        height: 347px;
    }

    #about .logo-a5 img{
        width: 129px;
        height: 89px;
    }

    #about h3{
        font-size: 64px;
        margin-top: 6px;
        color: white;
        font-style: italic;
        font-weight: 900;
    }

    #about p{
        font-size: 18px;
        line-height: 30px;
        text-align: right;
        width: 600px;
        color: white;
        font-weight: 500;
    }
</style>