<template>
    <section id="calculator" class="container">
        <header>
            <h3>Calculadora</h3>
        </header>
        <div class="calculator-body">
            <form action="" @onSubmit="calculateShipping">
                <div class="columns">
                    <b-field class="column">
                        <b-input v-model="from" placeholder="Cidade, Estado, País"></b-input>
                    </b-field>
                    <b-field class="column">
                        <b-input v-model="to" placeholder="Cidade, Estado, País"></b-input>
                    </b-field>
                    <b-field class="column"> 
                        <b-input v-model="date" icon-left="calendar-range"></b-input>
                    </b-field>
                    <div class="column is-1">
                        <div class="calendar-search">
                            <b-icon
                                icon="magnify"
                                type="is-white"
                                size="is-medium">
                            </b-icon>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</template>

<style>
    #calculator{
        height: 600px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color: var(--main-color5);
        background-color: #FFF;
    }

    .calculator-body{
        background-color: #FFF;
        box-shadow:0 10px 28px rgba(0,0,0,.1),0 15px 12px rgba(0,0,0,.12);
        padding: 15px 30px;
        border-radius: 10px;
    }

    #calculator input,
    #calculator input::placeholder{
        color: var(--main-color6);
    }

    .calculator-body input,
    .calculator-body input:hover,
    .calculator-body input:active{
        border: none !important;
        border-color: initial !important;
        font-size: 20px;
        box-shadow: unset;
        text-align: center;
    }

    .calculator-body input::placeholder{
        font-size: ;
    }

    .calendar-search{
        background-color: var(--main-color5);
        height: 66px;
        width: 98px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
</style>

<script>
export default {
    methods: {
        calculateShipping(){
            console.log("Thats gonna cost something");
        },
    },
    data() {
        return {
            date:"14/07/2021"
        }
    },
}
</script>