<template>
    <section id="contact" class="container p-5">        
        <div class="columns">
            <div class="image-card column">
                <img src="~assets/img/fundo-contato.png" alt="">
            </div>
            <div class="form-card column">
                <b-field label="Assunto">
                    <b-select placeholder="Selecione" expanded>
                        <option
                            v-for="option in subjects"
                            :value="option"
                            :key="option">
                            {{ option }}
                        </option>
                    </b-select>
                </b-field>
                <b-field label="Nome">
                    <b-input placeholder="Mark Robson"></b-input>
                </b-field>
                <b-field label="Telefone">
                    <b-input placeholder="Mark Robson"></b-input>
                </b-field>
                <b-field label="Email">
                    <b-input placeholder="Mark Robson"></b-input>
                </b-field>
                <b-field label="Mensagem">
                    <b-input maxlength="200" type="textarea"></b-input>
                </b-field>
            </div>
        </div>
    </section>
</template>

<style>
    #contact{
        background-color: #FFF;
        border-radius: 10px;
        box-shadow:0 10px 28px rgba(0,0,0,.1),0 15px 12px rgba(0,0,0,.12);
    }

    .image-card{
        display: flex;
        justify-content: center;
    }

    .image-card img{
        width: 548px;
        height: 890px;
    }

    .form-card{
        padding-top: 50px;
    }
</style>

<script>
export default {
    data() {
        return {
            subjects:[
                "Pedido",
                "Reclamação",
                "Sugestão",
                "Banco de vagas"
            ]
        }
    },
}
</script>