<template>
    <b-navbar>
        <template #brand>
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="~assets/img/Logo.png"                    
                    alt="Lightweight UI components for Vue.js based on Bulma"
                    id="logo"
                    height="40"
                    width="180"
                >
            </b-navbar-item>
        </template>
        <template #end>
            <b-navbar-item href="#">
                Calculadora de Frete
            </b-navbar-item>
            <b-navbar-item href="#">
                Sobre nós
            </b-navbar-item>
            <b-navbar-item href="#">
                Contato
            </b-navbar-item>
        </template>
    </b-navbar>
</template>
