:root {
    --main-color1: #434343;
    --main-color2: #00807B;
    --main-color3: #00BDBD;
    --main-color4: #8DEEE8;
    --main-color5: #79d4d4;
    --main-color6: #37EFE8;
}

body {
    color: var(--main-color1);
    background-color: #FBFBFB;
}