<template>
  <div>
    <navbar/>
    <div class="container-fluid column p-0">
      <Nuxt />
    </div>
  </div>
</template>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

  #logo{
    max-height: none;
  }

  .navbar {
    background-color: #F5F5F5 !important;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
</style>

<script>
export default {
  data () {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  }
}
</script>
