<template>
  <section class="section p-0">
    <calculator/>
    <carousel/>
    <about/>
    <contact/>
    <app-footer/>
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'HomePage',

  components: {
    Card
  }
}
</script>
